@mixin flex
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin flex-center
{
    display: flex;
    justify-content: center;
}

@mixin flex-row
{
    display: flex;
    flex-direction: row;
}